<br />
<h1>About</h1>
<p>Mini-Talker is a social networking service. It allows you to share ideas, news or any messages on the web. After register as a valid user via Mini-Talker, you can subscribe to other users' posts.</p>
<p>Mini-Talker uses the Ruby on Rails framework, deployed on Heroku cloud application platform.</p>
