<br />
<h1>
	Bo Yu
	<nav class="myphoto">
		<%  user = User.new(:email=>"boyu2011@gmail.com") %>
		<%= gravatar_for user, :size => 100 %>
	</nav>
</h1>
<br />
<br />
<br />
<p>
I am a software developer. Now I am studying at Stevens Inst for my master degree. Before joining Stevens, I was worked for Microsoft corporation, China division. My title is SDET2.
</P>
<p>
Now I am looking for a job relevent to software Development/Test/Networking administration. I have a solid background in computer science(Algorithms/OperatingSytems/SoftwareEngineering/Security). I am familiar with C/C++/C#/HTML/CSS/JS/RUBY/RAILS/PHP/SQL. I have some developing experience with GIT/Win32SDK/MFC/.NET/VS/GCC/GDB/MAKEFILE. I have a good understanding of OOAD/UML/TEST. I am good at debugging system failures(both in WINDOWS and LINUX).
</p>
<p>
I am a honest and trustworthy young man, and very energetic. I love programming, reading and swimming.
</p>
<p>
If you want to hire a software engineer, do not hesitate to contact me:
<br />
boyu2011@gmail.com
<br />
or 201-539-1740
</p>
<p>
Thanks.
</p>
